* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background-color: #E5E5E5;
}
.header {
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
.container {
    margin: 15vh 0;
}
.people {
    font-size: 2.8rem;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 12vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);

}
.paperPlane {
    font-size: 1.4rem;
}
.messagePrompt {
    font-size: 1.2rem;
    font-style: italic;
}
li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1vh;
    background-color: #FFFFFF;
    padding: 2vh 0;
    max-width: 100vw;
    overflow: hidden;
}
.private_message {
    background-color: #FFDEDE;
}
.status {
    background-color: #DCDCDC;
}
p {
    font-size: .9rem;
}
strong {
    font-weight: bold;
}
mark {
    background-color: transparent;
    color: #AAAAAA;
    margin: 0 .5rem;
}
.loginPage {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginPage img {
    margin-bottom: 0vh;
    width: 10rem;
}
.inputUser {
    margin-top: 10vh;
}
.loginPage button {
    margin-top: 10vh;
    cursor: pointer;
    background-color: green;
}

#usernameBox {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.escondido {
    display: none;
}
.menuLateral {
    width: 50vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1;
}
.dimer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(139, 0, 139, .5);
}